/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

.sidebar {
  .statistics {
    font-size: 1.2em;
    span.label {
      padding: 0.3em .6em 0.2em;
    }
  }
}

/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

.member-card {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-transition: border 0.2s ease-in-out;
  -o-transition: border 0.2s ease-in-out;
  transition: border 0.2s ease-in-out;

  span {
    font-size: 1.2em;
  }

  span.glyphicon {
    vertical-align: text-bottom;
    display: inline-block;
  }

  blockquote {
    margin: 0.3em 10px 0.4em;
    padding: 0em 10px;
    quotes: "\201C""\201D";
    border-left: none;
    font-size: 2.8em;
    line-height: 1.1em;
    display: block;
    min-height: 2.2em;
  }

  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 8em;
    line-height: 0.1em;
    float: left;
    margin-top: 0.15em;
  }

  blockquote p {
    display: inline;
  }

  form {
    display: inline-block;
  }

  .actions {
    text-align: center;
    margin-top: 4px;
  }

  .ethnicity {
    text-align: center;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 2.6em;
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
    display: block;
  }

  .information {
    clear: both;
    display: block;
    padding-top: 2px;
  }
}

